{{>layout/header}}

<div class="col-md-12">
    <div class="col-md-8" style=" margin-top: 10%;">
    <h2 class="form-signin-heading">로그인이 필요한 페이지입니다.</h2>
    <p>외부 로그인 계정을 선택해주세요.</p>
    <table class="table table-striped">
            <a href="/oauth2/authorization/google" style="margin-left: 30px"
               class="btn btn-success active" role="button">Google Login</a>

            <a href="/oauth2/authorization/naver" style="margin-left: 30px"
               class="btn btn-secondary active"
               role="button">Naver Login</a>
    </table>
    </div>
</div>

{{>layout/footer}}