<!DOCTYPE HTML>
<html>
<head>
    <title>스프링부트 웹서비스</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        html{
            height: 100%;
        }
        body{
            height: 100%;
            color: aliceblue;
            background-image: url("https://img1.daumcdn.net/thumb/R720x0.q80/?scode=mtistory2&fname=http%3A%2F%2Fcfile29.uf.tistory.com%2Fimage%2F26177C3453F71DB81E4325");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        a { text-decoration:none }
        a:hover { text-decoration:none }
        th{
            color: aliceblue;
        }
        td{
            color: aliceblue;
        }
        #font_style{
            font-size: 35px;
            font-weight: 700;

        }
        #font_margin{
            margin-top: 30px;
            margin-left: 50px;
        }

        #font_margin2{
            margin-top: 30px;
            margin-left: 30px;
        }

    </style>
</head>
<body>
<div style="border-bottom:3px solid white" align="center">
    <h1 style="margin: 30px auto"><a href="/"> Web developer - Lim jae woo </a></h1>
</div>