{{>layout/header}}



<div class="col-md-12">
    <div class="col-md-4" style="margin-left: 33.3%; margin-top: 10%;">
        <h1>게시글 수정</h1>
        <form>
            <div class="form-group">
                <label for="title">글 번호</label>
                <input type="text" class="form-control" id="id" value="{{post.id}}" readonly>
            </div>
            <div class="form-group">
                <label for="title">제목</label>
                <input type="text" class="form-control" id="title" value="{{post.title}}">
            </div>
            <div class="form-group">
                <label for="author"> 작성자 </label>
                <input type="text" class="form-control" id="author" value="{{post.author}}" readonly>
            </div>
            <div class="form-group">
                <label for="content"> 내용 </label>
                <textarea class="form-control" id="content">{{post.content}}</textarea>
            </div>
        </form>
        <a href="/" role="button" class="btn btn-secondary" style="background-color: #bd5d38">취소</a>
        <button type="button" class="btn btn-primary" id="btn-update" style="background-color: #bd5d38">수정 완료</button>
        <button type="button" class="btn btn-danger" id="btn-delete" style="background-color: #bd5d38">삭제</button>
    </div>
</div>

{{>layout/footer}}