{{>layout/header}}


<div class="col-md-12">
    <!--로그인 기능 영역-->
    <div class="row">
        <div class="col-md-4">
            <div id="font_margin"> 로그인 :
                {{#userName}}
                    Logged in as: <span id="user">{{userName}}</span>
                    <a href="/logout" class="btn btn-info active" role="button">Logout</a>
                {{/userName}}
                {{^userName}}
                    <a href="/oauth2/authorization/google" style="margin-left: 30px"
                       class="btn btn-success active" role="button">Google Login</a>

                    <a href="/oauth2/authorization/naver" style="margin-left: 30px"
                       class="btn btn-secondary active"
                       role="button">Naver Login</a>
                {{/userName}}
            </div>
            <div id="font_style">
                <div id="font_margin2">
                <a href="/project"> 1. 주차장 금액 정산</a>
                <br><br>
                <a href="/project2"><div style="color: aqua">2. 숨은 카페 찾기</div></a>
                <br><br>
                <a href="/project3">3. 현재 페이지</a>
            </div>
            </div>
        </div>
        <div class="col-md-6" style="margin-top: 80px; text-align: center; font-size: 18px;" >
            숨은 카페 찾기 프로젝트 SpringFramework를 사용하였으며, <br><br>
            프렌차이즈 외에 집주변 및 동네에 숨은 맛집 카페에 대한 <br><br>
            정보를 공유하고자 만든 협업 프로젝트입니다. <br><br>
            회원 가입 및 지도 기반 api를 통하여 카페 위치에 대한 정보를 제공하며, <br><br>
            카페 등록 및 삭제 회원 등급 설정, 회원 블락 및 언블락등을 구현하였으며<br><br>
            쓴맛,신맛,원두 판매등 검색시 카테고리를 설정할 수 있도록 했습니다. <br><br><br><br><br><br>

            Git Hub location : <a href="https://github.com/Limjaewoo-kor/Spring-Coffee-TeamProject-IntelliJ.git">https://github.com/Limjaewoo-kor/Spring-Coffee-TeamProject-IntelliJ.git</a>

        </div>
    </div>
</div>





{{>layout/footer}}