{{>layout/header}}


<div class="col-md-12">
    <!--로그인 기능 영역-->
    <div class="row">
        <div class="col-md-4">
            <div id="font_margin" style="display: block"> 로그인 : </div>
            Logged in as:{{username}}
            <a href="/logout" class="btn btn-info active" role="button">Logout</a>
            <br><br>
            <div id="font_style">
                <a href="/project"> <div style="color: aqua">1. 주차장 금액 정산</div></a>
                <br><br>
                <a href="/project2">2. 숨은 카페 찾기</a>
                <br><br>
                <a href="/project3">3. 현재 페이지</a>
            </div>
        </div>
        <div class="col-md-6" style="margin-top: 30px; text-align: center">
           Git Hub location : <a href="https://github.com/Limjaewoo-kor/servlet-ParkingProject-eclipse.git"> https://github.com/Limjaewoo-kor/servlet-ParkingProject-eclipse.git </a>
            이미지

        </div>
    </div>





{{>layout/footer}}