{{>layout/header}}


<div class="col-md-12">
    <!--로그인 기능 영역-->
    <div class="row">
        <div class="col-md-4">
            <div id="font_margin" style="display: block"> 로그인 : </div>
            Logged in as:{{username}}
            <a href="/logout" class="btn btn-info active" role="button">Logout</a>
            <br><br>
            <div id="font_style">
                <a href="/project"> 1. 주차장 금액 정산</a>
                <br><br>
                <a href="/project2"><div style="color: aqua">2. 숨은 카페 찾기</div></a>
                <br><br>
                <a href="/project3">3. 현재 페이지</a>
            </div>
        </div>
        <div class="col-md-6" style="margin-top: 30px; text-align: center">
            숨은 카페 찾기 프로젝트 SpringFramework를 사용하였으며, <br>
            프렌차이즈 외에 집주변 및 동네에 숨은 맛집 카페에 대한 정보를 <br>
            공유하고자 만든 협업 프로젝트입니다. <br>
            회원가입 및 지도기반 api를 통하여 카페위치에 대한 정보를 제공하며, <br>
            카페 등록시 쓴맛,신맛,원두판매등 카테고리를 설정할 수 있습니다. <br>

            Git Hub location : <a href="https://github.com/Limjaewoo-kor/Spring-Coffee-TeamProject-IntelliJ.git">https://github.com/Limjaewoo-kor/Spring-Coffee-TeamProject-IntelliJ.git</a>

        </div>
    </div>





{{>layout/footer}}