{{>layout/header}}


<div class="col-md-12">
    <!--로그인 기능 영역-->
    <div class="row">
        <div class="col-md-4">
            <div id="font_margin" style="display: block"> 로그인 : </div>
            Logged in as:{{username}}
            <a href="/logout" class="btn btn-info active" role="button">Logout</a>
            <br><br>
            <div id="font_style">
                <a href="/who"> <div style="color: aqua">Lim Jae Woo 란?</div></a>
            </div>
            </div>
        <div class="col-md-6" style="margin-top: 80px; text-align: center">
            안녕하세요, 임재우입니다. <br>
            저는 2011.12 ~ 2016.04월 1공수 특전 여단에서 특전사 중사로 군 생활을 마치고<br>
            (주)디딤 푸드에서 고래식당 점장 직무를 수행하였습니다. <br> <br>
            그 후 2020.07월 어린시절부터 관심은 많았지만, 여러가지 핑계로 시작하지 못했던 개발자라는 길에 발을 들였습니다.<br>
            구공 팩토리라는 부트캠프에서 백엔드 자바 개발자로서의 첫 교육을 받았고,  현재까지 계속 공부중에 있습니다.<br><br>
            현재까지 경험한 내용은 기본 자바 프로그래밍, 서블릿/jsp, JavaSpring(Maven), Mybatis, MySQL, <br>
            JavaSpringBoot(Gradle), JPA, TDD, AWS( EC2Server/Linux, RDS/MariaDB, S3버킷, CodeDeploy,<br>
            IAM ), Travis-CI, Nginx, 구글/네이버 로그인 입니다.<br>
        </div>
    </div>





{{>layout/footer}}