{{>layout/header}}


<div class="col-md-12">
    <!--로그인 기능 영역-->
    <div class="row">
        <div class="col-md-4">
            <div id="font_margin" style="display: block"> 로그인 : </div>
            Logged in as:{{username}}
            <a href="/logout" class="btn btn-info active" role="button">Logout</a>
            <br><br>
            <div id="font_style">
                <a href="/who"> <div style="color: aqua">Lim Jae Woo 란?</div></a>
            </div>
            </div>
        <div class="col-md-6" style="margin-top: 30px; text-align: center">
    안녕하세요1
    <br>
    안녕하세요2
    <br>
    안녕하세요3
    <br>
    안녕하세요4
    <br>
    안녕하세요5
    <br>
    안녕하세요6
    <br>
    안녕하세요7
    <br>
        </div>
    </div>





{{>layout/footer}}